body {
    background-image: url("patterned\ hearts.png");
	color: #f9dbec;
	text-align: center;
    font-size: 50px;
    font-family: "Garamond", serif;
    margin-top: 2px;
}
label {
	color: #ffffff;
	text-align: center;
    font-size: 25px;
    font-family: "Garamond", serif;
}
input[type="date"] {
	background: #f9dbec;
	color: #973071;
	border: 1px solid #f8cae5;
    border-radius: 10px;
    padding: .5rem;
    font-size: 20px;
    font-family: "Garamond", serif;
}
input[type="submit"] {
	background: #f9dbec;
	color: #973071;
	border: 1px solid #f8cae5;
    border-radius: 10px;
    font-size: 25px;
    padding: .5rem;
    font-family: "Garamond", serif;
}

